In [9]:
#pandas and numpy import
import numpy as np
import pandas as pd

In [10]:
label = ['a','b','c']
my_data = [10,20,30]

arr=np.array(my_data)
arr

d={'a':10, 'b': 20, 'c':30}

In [11]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [12]:
pd.Series(data=my_data, index=label)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series([1,2,3,4],['US','Germany','Russia','Japan'])

US         1
Germany    2
Russia     3
Japan      4
dtype: int64

In [18]:
from numpy.random import randn

np.random.seed(101)

df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
type(df['W'])

pandas.core.series.Series

In [21]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [23]:
df.head(2)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [25]:
outside=['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside, inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [26]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [28]:
#creating multi-index dataframe
pd.DataFrame(randn(6,2), hier_index,['A','B'])

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646