1. Create a list with one number, one word and one float value. Display the output of the list.

In [1]:
practice_list = [10, 'Hello', 5.5]

practice_list

[10, 'Hello', 5.5]

2. I have a nested list [1,1[1,2]], how to grab the value of 2 from the list.

In [6]:
matrix = [1,1,[1,2]]
matrix[2][1]

2

3. lst=['a','b','c'] What is the result of lst[1:]?

In [7]:
lst=['a','b','c']
lst[1:]

['b', 'c']

4. Create a dictionary with weekdays an keys and week index numbers as values.do assign dictionary to a variable

In [9]:
practice_dict = {"Sunday": 1, "Monday": 2, "Tuesday": 3, "Wednesday": 4, "Thursday": 5, "Friday": 6, "Saturday": 7}

practice_dict

{'Sunday': 1,
 'Monday': 2,
 'Tuesday': 3,
 'Wednesday': 4,
 'Thursday': 5,
 'Friday': 6,
 'Saturday': 7}

5. D={‘k1’:[1,2,3]} what is the output of d[k1][1]

In [15]:
D={'k1':[1,2,3]} 

D['k1'][1]

2

6. Can you create a list [1,[2,3]] into a tuple

We haven't covered tuples yet

7. With a single set function can you turn the word ‘Mississippi’ to distinct character word.

In [19]:
s= 'Mississippi'
s=set(s)

s

{'M', 'i', 'p', 's'}

In [ ]:
8. Can you add an element ‘X’ to the above created set

In [21]:
s.add("x")

s

{'M', 'i', 'p', 's', 'x'}

9. Output of set([1,1,2,3])

In [22]:
set([1,1,2,3])

{1, 2, 3}

Question:
     Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,between 2000 and          3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.
     
	 Hints: 
	 Consider use range(#begin, #end) method

In [1]:
nl=[]

for x in range(2000, 3200):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
        
print (','.join(nl))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

Question:

	Write a program which can compute the factorial of a given numbers.
	The results should be printed in a comma-separated sequence on a single line.
    
	Suppose the following input is supplied to the program:
	8
	Then, the output should be:
	40320
	

	Hints:
	In case of input data being supplied to the question, it should be assumed to be a console input.

In [29]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)


x=int(input("Enter a number:"))

factorial = fact(x)

print(factorial)

Enter a number:8
40320