In [1]:
#pandas and numpy import
import numpy as np
import pandas as pd

In [2]:
label = ['a','b','c']
my_data = [10,20,30]

arr=np.array(my_data)
arr

d={'a':10, 'b': 20, 'c':30}

In [3]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_data, index=label)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series([1,2,3,4],['US','Germany','Russia','Japan'])

US         1
Germany    2
Russia     3
Japan      4
dtype: int64

In [7]:
from numpy.random import randn

np.random.seed(101)

df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
type(df['W'])

pandas.core.series.Series

In [10]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [11]:
df.head(2)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [26]:
outside=['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside, inside))
hier_index=hier_index.set_names(['X','Y'])

AttributeError: 'list' object has no attribute 'set_names'

In [13]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [16]:
#creating multi-index dataframe
df = pd.DataFrame(randn(6,2), hier_index,['A','B'])
df

             A         B
G1 1 -0.497104 -0.754070
   2 -0.943406  0.484752
   3 -0.116773  1.901755
G2 1  0.238127  1.996652
   2 -0.993263  0.196800
   3 -1.136645  0.000366

In [18]:
df.iloc[4]

A   -0.993263
B    0.196800
Name: (G2, 2), dtype: float64

In [28]:
df.xs('G1')

          A         B
1 -0.497104 -0.754070
2 -0.943406  0.484752
3 -0.116773  1.901755

In [33]:
d={'a':[1,2,np.nan],'b':[5,np.nan,np.nan],'c':[1,2,3]}
df=pd.DataFrame(d)
df

     a    b  c
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [41]:
df1=df.dropna()
df1

     a    b  c
0  1.0  5.0  1

In [40]:
df.fillna(value='Fill Value')

            a           b  c
0           1           5  1
1           2  Fill Value  2
2  Fill Value  Fill Value  3

In [ ]:
#pandas code for joins and unions